body {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 231, 182);
}

.header {
 align-self: center;
 padding: 50px;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 width: 90%;
}

button {
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    background-color: #2c009479;
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.05);
}

button:active {
    transition: 0.2s;
    transform: scale(0.95);
}

#content {
    display: grid;
    grid-template: repeat(auto-fit, 200px) / repeat(auto-fit, minmax(200px, 300px));
    grid-auto-rows: 200px;
    gap: 30px;
    padding: 50px;
    justify-content: space-evenly;
}

.book {
    border: 5px solid lightblue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(216, 210, 147);
}

.book:hover {
    transition: 0.5s;
    transform: scale(1.05);
}

dialog {
    background-color: #d0fcdb;
}

dialog::backdrop {
    background-color: hsl(200, 100%, 50%, 0.5);
}

form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

form > button {
    place-self: center;
}

/* Sliders */

.switch { /* The switch - the box around the slider */
    position: relative;
    display: inline-block;
    width: 70px; /* of the rail */
    height: 20px;
}

.read input { /* Hide default HTML checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}

.slider { /* The slider */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b6141c;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 25px; /* of the knob */
    width: 5px;
    left: -5px;
    bottom: -2px;
    background-color: lightblue;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #22a142;
}

input:focus + .slider {
    box-shadow: 0 0 1px #22a142;
}

input:checked + .slider:before {
    -webkit-transform: translateX(75px); /* knob's travel distance */
    -ms-transform: translateX(75px);
    transform: translateX(75px);
}

/* Rounded sliders - add rounded to .slider class*/
/* .slider.round { 
    border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
} */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
}
